<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>x-admin</title>
    <link rel="stylesheet" href="/static/xadmin/lib/layui/css/layui.css">
    <style>
    </style>
    <script>
        /^http(s*):\/\//.test(location.href) || alert('请先部署到 localhost 下再访问');
    </script>
</head>
<body>
<div class="layui-form">
    <table class="layui-table">
        <tr>
            <td>
                <label class="layui-form-label">角色名称</label>
            </td>
            <td>
                <div class="layui-input-block">
                    <input type="text" id="role_name" required  lay-verify="required" placeholder="请输入角色名称" autocomplete="off" class="layui-input">
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <label class="layui-form-label">角色介绍</label>
            </td>
            <td>
                <div class="layui-input-block">
                    <input type="text" id="desc" required  lay-verify="required" placeholder="请输入角色介绍" autocomplete="off" class="layui-input">
                </div>
            </td>
        </tr>

        <tr>
            <td colspan="2" style="text-align: center">
                <div class="layui-input-block">
                    <button class="layui-btn" onclick="add_sumbit()">立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </td>
        </tr>
    </table>
</div>
<script src="/static/xadmin/lib/layui/jquery-3.2.1.min.js"></script>
<script src="/static/xadmin/lib/layui/layui.js"></script>
<script>
    layui.config({
        base: '/static/xadmin/' //静态资源所在路径
    });
    layui.use(['laydate','form'], function(){
        var laydate = layui.laydate;
        var table = layui.table;
        var form = layui.form;
    });
    //添加
    function add_sumbit() {
        //获取值
        var role_name=$("#role_name").val();
        var desc=$("#desc").val();
        $.post(
            "{:url('admin/authrole/add')}",
            {role_name:role_name,desc:desc},
            function (data) {
                console.log(data);
                if(data.code==1){
                    layer.msg(data.msg,{icon:1});
                    setTimeout(function () {
                        parent.layer.closeAll();
                        parent.location.reload();
                    },1500);
                }else{
                    layer.msg(data.msg,{icon:2});
                }
            });

    }
</script>
</body>
</html>
