<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>{$viewTitle}</title>
    <link rel="stylesheet" href="/static/xadmin/lib/layui/css/layui.css">
    <style>
    </style>
</head>

<body>
    <div class="layui-form">
        <table class="layui-table">
            <tr>
                <td>
                    <label class="layui-form-label">角色介绍</label>
                </td>
                <td>
                    <div class="layui-input-block">
                        <input type="text" id="desc" required lay-verify="required" placeholder="请输入角色介绍"
                            autocomplete="off" class="layui-input">
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <script src="/static/xadmin/lib/layui/jquery-3.2.1.min.js"></script>
    <script src="/static/xadmin/lib/layui/layui.js"></script>
</body>

</html>