<!--设置弹框-->
<div class="dialogMenu">
	<div id="parentChangePassword" class="dialogMenu-item">修改密码</div>
	<div id="parentExit" class="dialogMenu-item">退出</div>
</div>
</body>
</html>
<!--修改密码弹框-->
<script type="text/html" id="dialogChangePassword">
    <form class="layui-form" id="dialogChangePasswordForm" style="margin-top:30px;padding-right:30px;">
        <div class="layui-form-item">
            <label class="layui-form-label">原密码</label>
            <div class="layui-input-block">
                <input type="password" name="password" placeholder="请输入原密码" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">新密码</label>
            <div class="layui-input-block">
                <input type="password" name="newPassword" placeholder="请输入新密码" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">确认密码</label>
            <div class="layui-input-block">
                <input type="password" name="okPassword" placeholder="请重复输入密码" class="layui-input">
            </div>
        </div>
    </form>
</script>
<!--<script src="__STATIC__/js/jquery.min.js"></script>
<script src="__STATIC__/layui/layui.all.js"></script>
<script src="__STATIC__/js/utils.js"></script>
-->
<script>
    layui.use(['layer','form'],function () {
        window.layer=layui.layer;
        window.form=layui.form;
        mounted();
    });

	/**
     * 类Vue路由设计，如不需要可删除
     */
    function initRouter() {
        var url = window.location.href;
        var router;
        if (url.indexOf("#/") > -1) {
            router = url.substring(url.indexOf('#/') + 2);
            if (router === '') {
                router = 'index.html';
            }
            $('#iframeParent').attr('src', 'html/' + router);
        } else {
            $('#iframeParent').attr('src', 'html/index.html');
            history.replaceState(null, null, '#/');
        }
        //地址栏修改不刷新的解决方案
        $('a').click(function () {
            if ($(this).attr('href')) {
                window.location.href = $(this).attr('href');
                window.location.reload();
            }
        });
    }

    function mounted() {
        initRouter();
        //显示设置弹框
        $('.loginNameDiv').click(function () {
            if ($('.dialogMenu').css('display') === 'block') {
                $('.dialogMenu').css('display', 'none');
            } else {
                $('.dialogMenu').css('display', 'block');
            }

        });
        //退出登录
        $('#parentExit').click(function () {
            $('.dialogMenu').css('display', 'none');
            layer.open({
                type: 1,
                content: `<div style="padding: 20px;">是否退出</div>`,
                btn:["确定退出","暂不退出"],
                yes:function (index, layero) {
                    location.href="{:Url('Login/logout')}";
                },
                btn2:function (index,layero) {
                    //return false 开启该代码可禁止点击该按钮关闭
                }
            });
        });
        //显示修改密码弹框
        $('#parentChangePassword').click(function () {
            $('.dialogMenu').css('display', 'none');
            layer.open({
                type: 1,
                title: '修改密码',
                content: $('#dialogChangePassword').html(), //这里content是一个普通的String
                btn: ['确定', '取消'],
                success: function (index, layero) {
                    form.render();
                    $('#dialogChangePasswordForm').submit(function (e) {
                        console.log(formArray2Data($(this).serializeArray()));
                        return false;
                    });
                },
                yes: function (index, layero) {
                    $('#dialogChangePasswordForm').submit();
                },
                btn2: function (index, layero) {
                    //return false 开启该代码可禁止点击该按钮关闭
                }
            });
        });
    }
</script>
