<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{$viewTitle}</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="__STATIC1__/xadmin/lib/layui/css/layui.css" media="all">
</head>

<body>
    <div class="layui-card">
        <div class="layui-card-body">
            <!--主体内容 start-->
            <div class="layui-collapse" lay-filter="test">
                <div class="layui-colla-item">
                    <h2 class="layui-colla-title">条件筛选<i class="layui-icon layui-colla-icon"></i></h2>
                    <div class="layui-colla-content">
                        <form class="layui-form  layui-form-pane">
                            <div class="layui-form-item">
                                <div class="layui-inline">
                                    <label class="layui-form-label">创建日期</label>
                                    <div class="layui-input-inline">
                                        <input class="layui-input" placeholder="创建日期" name="create_time" id="create_time">
                                    </div>
                                </div>
                            </div>

                            <div class="layui-form-item">
                                <div class="layui-input-block">
                                    <button type ="button" style="margin-left: 50px;" class="layui-btn" onclick="ser_on()">搜索</button>
                                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <table id="demo" lay-filter="test">

            </table>
            <!--主体内容 end-->
        </div>
    </div>
    <script src="__STATIC1__/xadmin/lib/layui/jquery-3.2.1.min.js"></script>
    <script src="__STATIC1__/xadmin/lib/layui/layui.js"></script>
    <script src="__STATIC1__/xadmin/js/xcity.js"></script>
    <script>
        layui.config({
            base: '__STATIC1__/xadmin/' //静态资源所在路径
        });

        layui.use(['laydate', 'form', 'util', 'code', 'element'], function () {
            var laydate = layui.laydate;
            var table = layui.table;
            var form = layui.form;
            var util = layui.util;
            var element = layui.element;

            //执行一个laydate实例
            laydate.render({
                elem: '#create_time' //指定元素
            });
        });

        layui.use('table', function () {
            var table = layui.table;
            var util = layui.util;
            var urls = '{:url("index/crontablog/list")}';
            //第一个实例
            TB = table.render({
                elem: '#demo',
                height: 'full-100',
                limits: [10, 20, 50, 100, 500],
                limit: 10,
                url: urls, //数据接口,
                page: true, //开启分页,
                defaultToolbar: [],
                toolbar: '#toolbarDemo',
                cols: [[ //表头
                    { field: 'id', title: 'ID', sort: true },
                    { field: 'user_id', title: '访问人ID'},
                    { field: 'task_cmd', title: '运行的脚本'},
                    { field: 'is_valid', width: 160, title: '状态', templet: '#statusTemp' },
                    { field: 'create_time', width: 160, title: '访问时间', sort: true },
                    { field: 'create_time', width: 160, title: '访问时间', sort: true, templet: function (d) { return util.toDateString(d.create_time * 1000); } },
                    { fixed: 'right', width: 200, title: '操作', align: 'center', toolbar: '#barDemo' }
                ]]
            });
        });

        // 搜索
        function ser_on() {
            var table = layui.table;
            var util = layui.util;
            var create_time = $("#create_time").val();
            var urls = '{:url("index/crontablog/list")}' + '?create_time=' + create_time;
            TB = table.render({
                elem: '#demo',
                height: 'full-100',
                limits: [10, 20, 50, 100, 500],
                limit: 10,
                url: urls, //数据接口,
                page: true, //开启分页,
                defaultToolbar: [],
                toolbar: '#toolbarDemo',
                cols: [[ //表头
                    { field: 'id', title: 'ID', sort: true },
                    { field: 'user_id', title: '访问人ID'},
                    { field: 'task_cmd', title: '运行的脚本'},
                    { field: 'is_valid', width: 160, title: '状态', templet: '#statusTemp' },
                    { field: 'create_time', width: 160, title: '访问时间', sort: true },
                    { field: 'create_time', width: 160, title: '访问时间', sort: true, templet: function (d) { return util.toDateString(d.create_time * 1000); } },
                    { fixed: 'right', width: 200, title: '操作', align: 'center', toolbar: '#barDemo' }
                ]]
            });
        }

        layui.use('table', function () {
            var table = layui.table;

            //监听事件
            table.on('toolbar(test)', function (obj) {
                var checkStatus = table.checkStatus(obj.config.id);

                switch (obj.event) {
                    case 'add':
                        layer.open({
                            type: 1,
                            title: '添加',
                            area:['50%','70%'],
                            content: $('#addDialog').html(), //这里content是一个普通的String
                            btn: ['确定', '取消'],
                            success: function (index, layero) {
                                form.render();
                            },
                            yes: function (index, layero) {
                                //ajax提交
                                $.ajax({
                                    type: "POST",
                                    dataType: "json",
                                    url: "{:Url('Crontablog/save')}",
                                    data: $("#addDialogForm").serialize(),//newsForm序列化
                                    success: function(result) {
                                        if (result.code == 0) {
                                            layer.msg('添加成功！', {time: 2000}, function(){location.reload();});
                                        } else {
                                            layer.msg('添加失败！请稍后重试！', {time: 3000});
                                        }
                                    },
                                    error: function() {
                                        alert("异常！");
                                    }
                                });
                            },
                            btn2: function (index, layero) {
                                //return false 开启该代码可禁止点击该按钮关闭
                            }
                        });
                        break;
                    case 'delete':
                        console.log(checkStatus);
                        layer.confirm('真的删除选中行么', function (index) {
                            layer.close(index);
                            //向服务端发送删除指令
                        });
                        break;
                }
            });

            //监听工具条
            table.on('tool(test)', function (obj) { //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
                var data = obj.data; //获得当前行数据
                var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
                var tr = obj.tr; //获得当前行 tr 的DOM对象

                if (layEvent === 'detail') { //查看
                    var id = data.id;
                    var url='{:url("index/visitlog/read")}'+'?id='+id;
                    layer.open({
                        type: 2,
                        title: '信息',
                        shadeClose: true,
                        shade: 0.8,
                        area: ['80%', '80%'],
                        content: url, //iframe的url
                    });
                } else if (layEvent === 'del') { //删除
                    console.log(data);
                    console.log("del");
                } else if (layEvent === 'edit') { //编辑
                    console.log(data);
                    console.log("edit");
                }
            });
        });

        layui.use('form', function () {
            var form = layui.form;

            form.on('switch(is_valid)', function(data){
                // 得到开关的value值，实际是需要修改的ID值。
                var id = data.value;
                var is_valid = this.checked ? '1' : '0';
                var index = '';
                
                $ajax({
                    type: 'POST',
                    url: '/hetong/setAlert/',
                    data: {"id" :id,"is_valid":is_valid  },
                    beforeSend:function(){
                        index = layer.msg('正在切换中，请稍候',{icon: 16,time:false,shade:0.8});     
                    },
                    error: function(data){
                        console.log(data);	          
                        layer.msg('数据异常，操作失败！'); 
                    },
                    success: function(data){  
                    if(data.result=="SUCCESS"){ 
                        setTimeout(function(){
                            layer.close(index);
                            layer.msg('操作成功！');},2000);  
                        }else{
                            console.log(data);
                            layer.msg('数据异常，操作失败！'); 
                        }},		  
                    dataType:'JSON'
                });
            });
        });
    </script>
</body>
<!--顶部操作栏-->
<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="add">添加</button>
        <!-- <button class="layui-btn layui-btn-sm" lay-event="delete">删除</button> -->
    </div>
</script>

<!--每条数据的操作栏-->
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="detail">查看</a>
</script>

<!--添加操作-->
<script type="text/html" id="addDialog">
    <form class="layui-form" action="{:Url('Crontablog/add')}" style="padding: 20px;" lay-filter="addDialogForm" id="addDialogForm">
        <div class="layui-form-item">
            <label class="layui-form-label">运行的脚本:</label>
            <div class="layui-input-inline">
                <input type="text" name="task_cmd"  autocomplete="off" class="layui-input" id="task_cmd">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">分钟:</label>
            <div class="layui-input-inline">
                <select name="task_minute[]" multiple="" lay-search="">
                    <option value="">请选择您的兴趣爱好</option>
                    <option>sing1</option>
                    <option selected="">sing2</option>
                    <option>SING1-大写</option>
                    <option>movie1</option>
                    <option selected="">movie2</option>
                    <option>movie3</option>
                    <option>MOVIE4</option>
                    <option>swim</option>
                    <option>moon</option>
                </select>
            </div>
        </div>
    </form>
</script>

<script type="text/html" id="statusTemp">
{{#  if(d.media.is_valid==1){ }}
    <input type="checkbox" name="is_valid" lay-skin="switch" checked   lay-text="开启|关闭"  value= {{ d.media.id}}  lay-filter="is_valid" >
{{#  } else { }}
    <input type="checkbox" name="is_valid" lay-skin="switch"  lay-text="开启|关闭"  value= {{ d.media.id} lay-filter="is_valid" >
{{#  } }}
</script>